# Set default behavior to automatically normalize line endings
* text=auto

# Explicitly declare text files you want to always be normalized and converted
*.js text
*.jsx text
*.ts text
*.tsx text
*.css text
*.html text
*.json text
*.md text
*.txt text

# Shell scripts should have Unix line endings
*.sh text eol=lf

# Declare files that will always have LF line endings on checkout
.env* text eol=lf

# Declare files that will always have CRLF line endings on checkout
*.bat text eol=crlf

# Denote all files that should not have line endings normalized
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.pdf binary
*.otf binary
*.woff binary
*.woff2 binary
